# =========================
# .NET build artifacts
# =========================
bin/
obj/
out/

# =========================
# Visual Studio / Rider
# =========================
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# ASP.NET Core
# =========================
appsettings.Development.json
appsettings.Local.json

# =========================
# EF Core
# =========================
**/Migrations/
*.db
*.db-shm
*.db-wal

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test results
# =========================
TestResults/

# =========================
# Coverage r

